<!-- The Home Page includes: navigation and a hello-->
<!DOCTYPE HTML> <!--declaring the document is html5-->
<html>
<!--starting the head section that contains the metadata, title and link to the css files-->
<head>
    <%-include ./partials/header.ejs %>
    <%-include ./partials/main_nav.ejs %>
    <!--The UTF-8 character set provides the most support for all symbols and characters-->
    <meta charset="UTF-8">

    <!--the title-->
    <title> <%= title %> </title>
    <%-include ./partials/header.ejs %>
    <%-include ./partials/main_nav.ejs %>
    <!-- The following line links to our css file for this page-->
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <!-- linking the responsive css files for desktop, tablet and mobile -->
    <link rel="stylesheet" href="/css/desktop.css" media="screen and (min-width:960px)">
    <link rel="stylesheet" href="/css/tablet.css" media="screen and (min-width:481px) and (max-width: 960px)">
    <link rel="stylesheet" href="/css/mobile.css" media="screen and (max-width:480px)">
</head>

<!--Content visible in the actual browser's starts here-->
<body>
    <header> <!--header contains a lot of the main stuff-->
        <!--All our content is enclosed in the wrapper ID style-->
        <div id="wrapper">
        <!--The banner ID style is inside the wrapper ID style-->
        <div id="banner">
        <!--the main title-->
        <br>
        <h1>Imama's Portfolio</h1>
        </div>
        
        <!--left-column ID style is floated left and used for navigation-->
        <div id="left-column">
        </div>

        <!--main stuff of this page-->
        <div id="right-column">
            <h2>Welcome to My Portfolio</h2>
            <p> My name is Imama and welcome to my portfolio!</p>
        
        <!--adding the picture in with a div to hold it-->
            <div id="picture">
            <img src="/images/JellyCat.jpg" width="300" height="400">
        </div>
        </div>

        <!--The clear class style clears (removes) float-->
        <div class="clear"></div>

    <!--footer section-->
    <%-include ./partials/footer.ejs %>
        </div>
    </header>
</body>
</html>
